<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

  <system.runtime.remoting>
    <application>
      <channels>
        <channel name="WCF_demo" ref="tcp" port="0" />
      </channels>

      <client>
        <wellknown type="WCF_Interface.IInterface, WCF_Interface"
                   url="tcp://localhost:7795/MyService.soap" />
      </client>
    </application>
  </system.runtime.remoting>
  
</configuration>